.rcb-chat-drawer-container {
    position: fixed;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: all 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 550px;
    z-index: 10000;
    left: 12%;
}

.rcb-chat-drawer-container.open {
    display: none;
}