.rcb-chat-drawer-container {
    position: fixed;
    bottom: 20px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: var(--Main-Gredient---Popup, linear-gradient(96deg, rgba(255, 255, 255, 0.70) 0.34%, rgba(255, 255, 255, 0.50) 98.94%));
    transition: all 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 550px;
    z-index: 10000;
    left: 27%;
    backdrop-filter: blur(15px);
}

.rcb-chat-drawer-container.open {
    display: none;
}