/* Package Globals */

[class^="rcb"] {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Chat Window */
.cursor{
	cursor: grab;
}
.rcb-chat-window {
	position: fixed;
	right: 20px;
	bottom: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	background: transparent;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 375px;
	height: 550px;
	z-index: 10000;
}

.rcb-window-embedded .rcb-chat-window {
	position: static;
	opacity: 1;
	visibility: visible;
	right: auto;
	bottom: auto;
}

.rcb-window-open .rcb-chat-window {
	opacity: 1;
	visibility: visible;
	/* animation: expand 0.3s ease-in-out forwards; */
}

.rcb-window-close .rcb-chat-window {
	opacity: 0;
	visibility: hidden;
	/* animation: collapse 0.3s ease-in-out forwards; */
}

@keyframes expand {
	0% {
		transform: translate(100%, 100%) scale(0);
		opacity: 0;
	}

	100% {
		transform: translate(0, 0) scale(1);
		opacity: 1;
	}
}

@keyframes collapse {
	0% {
		transform: translate(0, 0) scale(1);
		opacity: 1;
	}

	100% {
		transform: translate(100%, 100%) scale(0);
		opacity: 0;
	}
}